@font-face {
    font-family: 'Segoe Mono Boot';
    src: url('src/font/SegoeMonoBoot.woff2') format('woff2'),
        url('src/font/SegoeMonoBoot.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe Boot Semilight';
    src: url('src/font/SegoeBoot-Semilight.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
